<%= render 'users/user', :user => @user %>
<ul class="unstyled providers">
  <% @user.providers.each do |provider| %>
    <li>
      <%= link_to '', rel: 'tooltip', :'data-title' => provider.name, :'data-placement' => 'bottom' do %>
        <%= image_tag "icon_#{provider.name}.png", :alt => provider.name, :title => provider.name %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= render 'shared/login_button'%>
<section>
  <h1><%= t('.sites.h1', :user_name => @user.name)%></h1>
  <%=render 'sites/index', :sites => @sites %>
</section>

<section class="withdraw">
<%= link_to t('.withdraw.label'), user_path, :method => :delete, :confirm => t('.withdraw.description'), :class => "btn btn-danger"%>
</section>