<ul class="sns">
  <li>
    <div class="fb-like" data-href="<%=url%>" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
  </li>
  <li>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%=url%>" data-lang="<%=I18n.locale%>" data-text="<%=twitter_text%>" data-hashtags="<%=twitter_hash_tag%>">ツイート</a>
  </li>
</ul>