<%=render 'shared/sns_buttons', :url => 'http://welove.herokuapp.com', :twitter_text => 'we love heroku', :twitter_hash_tag => 'weloveheroku' %>
<div class="hero-unit">
  <h1><%=t(".h1")%></h1>
  <%=t(".description_html")%>
</div>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Creator</th>
    <th>Likes</th>
    <th>Tweets</th>
    <th></th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td class="span3"><%= link_to site.name, site.url, target: '_blank', rel: 'popover', :'data-title' => site.name, :'data-content' => truncate(site.description, :length => 100) %></td>
    <td><%= site.creator %></td>
    <td><div class="fb-like" data-href="<%=site.url%>" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div></td>
    <td>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%=site.url.gsub(/http(s)?:\/\//, '')%>" data-lang="ja" data-text="<%=site.name%>" data-hashtags="<%=site.hash_tag%>">ツイート</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </td>
    <td><%= link_to 'Show', site, class: ['btn'] %></td>
  </tr>
<% end %>
</table>
<%= paginate @sites %>